**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc
.terraformrc.json
.DS_Store
.terraform.d/plugins/
*.tfplan





